
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    background-color: #282C33;

    ::-webkit-scrollbar-track {
        background-color: #282C33;
    }

    ::-webkit-scrollbar {
        width: 8px;
        background: #282C33;
    }

    ::-webkit-scrollbar-thumb {
        background: #C778DD;
        border-radius: 8px;
    }
}

body {
    overflow-x: hidden;
    height: 100vh;
}